@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

/*<uniquifier>: Use a uniquifier for the class name
 <weight>: Use a value from 300 to 700*/

.fredoka-google {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  font-family: "Fredoka", sans-serif;
  margin: 0;
}

.header-section {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin: 0 100px; /* verticale: 0, orizzontale: 100px */
}

.header-top {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin-top: 15px;
}

.header-logo {
  font-size: 24px;
}

/* per il controllo del colore del font nell'header-top */
.header-logo,
a {
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 30px;
}

.header-links a {
  font-size: 18px;
  text-decoration: none;
}

.header-content {
  display: flex;
  margin: 40px 0;
  padding: 0 200px;
  gap: 50px;
  justify-content: center;
}

.profile-pic {
  background-color: rgb(170, 170, 170);
  border-radius: 16px;
  max-width: 300px;
  border: 3px solid whitesmoke;
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.description-container {
  display: flex;
  gap: 30px;
}

.english,
.italian {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.description-container img {
  max-width: 100px;
  border-radius: 12px;
}

.hire-me-btn {
  background-color: #3882f6;
  color: white;
  border-radius: 6px;
  padding: 8px 24px;
  font-weight: 400;
  font-size: 20px;
  font-family: inherit;
  border: 0;
}

.hire-me-btn:hover {
  background-color: #2f6ac9;
  transition: 0.5s;
}

.content-right .my-name {
  font-size: 48px;
  color: #f9faf8;
  align-self: stretch;
}

.content-right p {
  font-size: 18px;
  color: #e5e7eb;
  text-align: justify;
}

/* card section */

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 50px 0;
  gap: 50px;
}

.card-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  color: #1f2937;
}

.card-top h1,
.card-top p {
  padding: 0;
  margin: 0;
  letter-spacing: 8px;
}

.cards-container {
  display: flex;
  gap: 100px;
  margin: 10px 150px;
}

.card-slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* viene ereditato dai <p> */
}

.card {
  border: 2px solid #3882f6;
  border-radius: 6px;
  width: 200px;
  height: 200px;
}

.card.rps {
  background-image: url(./img/rps-thumbnail.PNG);
  background-size: contain;
}

/* Quotation */

.quotation-section {
  display: flex;
  justify-content: center;

  background-color: #e5e7eb;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 150px;
  padding: 50px 0;
}

.quotation {
  font-size: 36px;
  font-weight: 200;
  color: #1f2937;
  padding: 20px;
}

.author p {
  text-align: right;
  font-weight: bold;
}

/* Call to Action */
.calltoaction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 150px;
}

.calltoaction-container {
  background-color: #3882f6;
  display: flex;
  border-radius: 6px;
  color: white;
  padding: 20px 50px;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.calltoaction-content h1,
.calltoaction-content p {
  margin: 0;
  padding: 0;
}

.calltoaction-content h1 {
  font-size: 20px;
  font-weight: 400;
}
.calltoaction-content p {
  font-size: 12px;
}

.calltoaction button {
  background-color: #3882f6;
  border: 2px solid white;
  color: white;
  border-radius: 6px;
  padding: 6px 12px;
  font-family: inherit;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #1f2937;
  color: white;
  padding: 20px 0;
  font-size: 12px;
}
